.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  position: relative;
  margin: 0;
  background-color: black;
  color: white;
  min-width: 300px;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}