.photos__like {
  background-image: url(../../../images/like_disabled.svg);
  background-color: inherit;
  width: 22px;
  height: 19px;
  margin: 30px 20px 0 auto;
  padding: 0;
  border: none;
  cursor: pointer;
}

.photos__like:hover {
  opacity: 0.6;
}