@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
/*page*/
@import url(./blocks/page/page.css);
/*content*/
@import url(./blocks/content/content.css);
/*HEADER*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__save-btn/popup__save-btn.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__exit/popup__exit.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__image/popup__Image.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__image-box/popup__image-box.css);
@import url(./blocks/popup/__input-container/_invalid/popup__input-container_invalid.css);
@import url(./blocks/popup/__save-btn/_inactive/popup__save-btn_inactive.css);
@import url(./blocks/popup/__span/popup__span.css);
@import url(./blocks/popup/__span/_error-message/popup__span_error-message.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__form_type_delete-card.css);
/*other*/
@import url(./blocks/link/link.css);
/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container-name/profile__container-name.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__Info.css);
@import url(./blocks/profile/__full-info/profile__full-info.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__change-btn/profile__change-btn.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
/*photos*/
@import url(./blocks/photos/photos.css);
@import url(./blocks/photos/__box/photos__box.css);
@import url(./blocks/photos/__info/photos__info.css);
@import url(./blocks/photos/__element/photos__element.css);
@import url(./blocks/photos/__name/photos__name.css);
@import url(./blocks/photos/__like/photos__like.css);
@import url(./blocks/photos/__like/_active/photos__like_active.css);
@import url(./blocks/photos/__delete/photos__delete.css);
@import url(./blocks/photos/__like-score/photos__like-score.css);
@import url(./blocks/photos/__likes/photos__likes.css);
/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright//footer__copyright.css);